<!DOCTYPE html>
<html lang="zh"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <div th:include="/public/head :: head"></div>
  <body>
    <div class="page">
      <!-- Main Navbar-->
      <div th:include="/public/body :: body"></div>

      <div class="page-content d-flex align-items-stretch"> 
        <!-- 边栏 -->
        <div th:include="/public/left :: left"></div>

        <!-- 主要内容-->
        <div class="content-inner">
          <!-- 内容头 -->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">HomePage</h2>
            </div>
          </header>
          <!-- 用户总揽-->
          <section class="dashboard-counts no-padding-top">
            <div class="container-fluid">
              <div class="row bg-white has-shadow">
                <!-- 姓名 -->
                <div class="col-xl-3 col-sm-6">
                  <div class="item d-flex align-items-center">
                    <div class="icon bg-violet"><i class="icon-user"></i></div>
                    <div class="title"><span th:text="${name}">New Clients</span>
                    </div>
                  </div>
                </div>
                <!-- 回复总数 -->
                <div class="col-xl-3 col-sm-6">
                  <div class="item d-flex align-items-center">
                    <div class="icon bg-red"><i class="icon-padnote"></i></div>
                    <div class="title"><span>Reply</span>
                    </div>
                    <div class="number"><strong th:text="${posts}">70</strong></div>
                  </div>
                </div>
                <!-- 总发帖数 -->
                <div class="col-xl-3 col-sm-6">
                  <div class="item d-flex align-items-center">
                    <div class="icon bg-green"><i class="icon-bill"></i></div>
                    <div class="title"><span>Your Threads</span>
                    </div>
                    <div class="number"><strong th:text="${threads}">40</strong></div>
                  </div>
                </div>
                <!-- 金币 -->
                <div class="col-xl-3 col-sm-6">
                  <div class="item d-flex align-items-center">
                    <div class="icon bg-orange"><i class="icon-money"></i></div>
                    <div class="title"><span>Gold</span>
                    </div>
                    <div class="number"><strong>50</strong></div>
                  </div>
                </div>
              </div>
            </div>
          </section>


          <!-- 关注的比赛和即将开始的比赛-->
          <section class="projects no-padding-top">
            <div class="container-fluid" th:each="game : ${gamesList}">
              <!-- 一个比赛-->
              <div class="project">
                <div class="row bg-white has-shadow">
                  <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="project-title d-flex align-items-center">
                      <div class="image has-shadow">
                        <img th:src="${game.homeTeamLogo}" alt="..." class="img-fluid">
                      </div>
                    </div>
                    <div class="text text-center">
                      <h3 class="h4" th:text="${game.homeTeam + ' VS ' + game.awayTeam + ' (' +game.status + ')'}">
                        Project Title
                      </h3>
                      <small th:text="${game.homeTeamScore + ' : ' + game.awayTeamScore}" class="text-red">Lorem Ipsum Dolor</small>
                    </div>
                    <div class="project-title d-flex align-items-center">
                    <div class="image has-shadow">
                      <img th:src="${game.awayTeamLogo}" alt="..." class="img-fluid">
                    </div>
                    </div>
                  </div>
                  <div class="right-col col-lg-6 d-flex align-items-center">
                    <div class="text text-center text-red">
                      <small th:text="${game.dateTime}">
                      Project Title
                    </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <!-- 最新新闻-->
          <section class="feeds no-padding-top">
            <div class="container-fluid">
              <div class="row">
                <!-- 最新发帖 -->
                <div class="col-lg-6">
                  <div class="articles card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                          <i class="fa fa-ellipsis-v"></i>
                        </button>
                        <div aria-labelledby="closeCard4" class="dropdown-menu dropdown-menu-right has-shadow">
                          <a href="#" class="dropdown-item remove"><i class="fa fa-times"></i>Close</a>
                        </div>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <h2 class="h3">Newest Articles</h2>
                      <div class="badge badge-rounded bg-green" th:text="${newsCount + ' New'}"></div>
                    </div>
                    <div class="card-body no-padding" th:each="news : ${newsList}">
                      <div class="item d-flex align-items-center">
                        <div class="text">
                          <a th:href="${news.url}">
                            <h3 class="h4" th:text="${news.title}">Lorem Ipsum Dolor</h3>
                        </a>
                          <small class="text-red"><a th:href="${news.url}" th:text="${'Posted on ' + news.updated + ' by ' + news.author}">Posted on 5th June 2017 by Aria Smith.  </a>
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- 新闻 -->
                <div class="col-lg-6">
                  <div class="articles card">
                    <div class="card-close">
                      <div class="dropdown">
                        <button type="button" id="closeCard4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                        <div aria-labelledby="closeCard4" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                      </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                      <h2 class="h3">Trending Articles   </h2>
                      <div class="badge badge-rounded bg-green">4 New       </div>
                    </div>
                    <div class="card-body no-padding">
                      <div class="item d-flex align-items-center">
                        <div class="image"><img th:src="@{/img/avatar-1.jpg}" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="text"><a href="#">
                          <h3 class="h5">Lorem Ipsum Dolor</h3></a><small>Posted on 5th June 2017 by Aria Smith.   </small></div>
                      </div>
                      <div class="item d-flex align-items-center">
                        <div class="image"><img th:src="@{/img/avatar-2.jpg}" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="text"><a href="#">
                          <h3 class="h5">Lorem Ipsum Dolor</h3></a><small>Posted on 5th June 2017 by Frank Williams.   </small></div>
                      </div>
                      <div class="item d-flex align-items-center">
                        <div class="image"><img th:src="@{/img/avatar-3.jpg}" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="text"><a href="#">
                          <h3 class="h5">Lorem Ipsum Dolor</h3></a><small>Posted on 5th June 2017 by Ashley Wood.   </small></div>
                      </div>
                      <div class="item d-flex align-items-center">
                        <div class="image"><img th:src="@{/img/avatar-4.jpg}" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="text"><a href="#">
                          <h3 class="h5">Lorem Ipsum Dolor</h3></a><small>Posted on 5th June 2017 by Jason Doe.   </small></div>
                      </div>
                      <div class="item d-flex align-items-center">
                        <div class="image"><img th:src="@{/img/avatar-5.jpg}" alt="..." class="img-fluid rounded-circle"></div>
                        <div class="text"><a href="#">
                          <h3 class="h5">Lorem Ipsum Dolor</h3></a><small>Posted on 5th June 2017 by Sam Martinez.   </small></div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </section>

          <!-- 底部-->
          <div th:include="/public/head :: head"></div>
        </div>
      </div>
    </div>
    <!-- JavaScript files-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/popper.js/umd/popper.min.js}"> </script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/vendor/jquery.cookie/jquery.cookie.js}"> </script>
    <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
    <script th:src="@{/vendor/jquery-validation/jquery.validate.min.js}"></script>
    <script th:src="@{/js/charts-home.js}"></script>
    <!-- Main File-->
    <script th:src="@{/js/front.js}"></script>
  </body>
</html>