<!DOCTYPE html>
<html lang="zh"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:include="/public/head :: head"></div>
<body>
<div class="page">
    <!-- Main Navbar-->
    <div th:include="/public/body :: body"></div>

    <div class="page-content d-flex align-items-stretch">
        <!-- 边栏 -->
        <div th:include="/public/left :: left"></div>

        <!-- 主要内容-->
        <div class="content-inner">
            <!-- 内容头 -->
            <header class="page-header">
                <div class="container-fluid">
                    <h2 class="no-margin-bottom" th:text="${news.title}">ArticlePage</h2>
                </div>
            </header>

            <!-- 最新信息-->
            <section class="feeds no-padding-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="articles card">
                            <div class="card-body no-padding">
                                <div class="item d-flex align-items-center">
                                    <div class="text">
                                        <a href="#">
                                            <h3 class="h3" th:text="${news.content}">Lorem Ipsum Dolor</h3>
                                        </a>
                                        <small class="text-red"><a href="#" th:text="${'Posted on ' + news.updated + ' by ' + news.author}">
                                            Posted on 5th June 2017 by Aria Smith.  </a>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 底部-->
            <div th:include="/public/foot :: foot"></div>
        </div>
    </div>
</div>
</body>
</html>