<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:include="/public/head :: head"></div>
<body>
<div class="page">
    <!-- Main Navbar-->
    <div th:include="/public/body :: body"></div>

    <div class="page-content d-flex align-items-stretch">
        <!-- 边栏 -->
        <div th:include="/public/left :: left"></div>

        <!-- 主要内容-->
        <div class="content-inner">
            <!-- 内容头 -->
            <header class="page-header">
                <div class="container-fluid">
                    <h2 class="no-margin-bottom">Create Thread</h2>
                </div>
            </header>

            <section class="projects no-padding-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 mx-auto">
                            <div class="card">
                                <div class="card-body">
                                    <form action="/bbs/doCreate" method="post" id="form">
                                        <!--标题-->
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Title" name="subject"
                                                   value="" id="subject">
                                        </div>

                                        <!--关联-->
<!--                                        <div class="form-group hide">-->
<!--                                            <input type="text" class="form-control" placeholder="Relate" name="subject"-->
<!--                                                   value="" id="subject">-->
<!--                                        </div>-->

                                        <div class="form-group">
                                            <div class="form-control edui-body-container" contenteditable="true"
                                                 style="width: 100%; min-height: 300px; z-index: 999;" id="content"><p><br>
                                            </p>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <div class="text-right">
                                                <button type="submit" class="btn btn-primary" id="submit"
                                                        data-loading-text="Posting..."> Post Thread
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 底部-->
            <div th:include="/public/foot :: foot"></div>
        </div>
    </div>
</div>
<script>
    var jform = $('#form');
    var jsubmit = $('#submit');
    jform.on('submit', function() {
        jsubmit.button('loading');
        $.ajax({
            'type':'post',
            'dataType':'json',
            'url':jform.attr('action'),
            'data':{
                subject:$("#subject").val(),
                related:$("#related").val(),
                content:$("#content").html()
            },
            'success':function(res){
                if(res.code > 0){
                    alert("创建失败");
                }else {
                    //转到帖子详细页面
                    // window.open("/bbs/detail?subjectId=" + res.result_id)
                    window.location.href="/bbs/detail?subjectId=" + res.result_id;
                }
            }
        });
        return false;
    });
</script>
</body>
</html>