<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:include="/public/head :: head"></div>
<body>
<div class="page">
    <!-- Main Navbar-->
    <div th:include="/public/body :: body"></div>

    <div class="page-content d-flex align-items-stretch">
        <!-- 边栏 -->
        <div th:include="/public/left :: left"></div>

        <!-- 主要内容-->
        <div class="content-inner">
            <!-- 内容头 -->
            <header class="page-header">
                <div class="container-fluid">
                    <h2 class="no-margin-bottom">Thread Detail</h2>
                </div>
            </header>

            <!--内容-->
            <section class="projects">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 mx-auto">
                            <!--标题-->
                            <div class="card card-thread">
                                <div class="card-body">
                                    <div class="media">
                                        <a href="#" tabindex="-1">
                                            <img class="avatar-3 mr-3 small" style="width: 30px;height: 30px" th:src="@{/vendor/timg.jpeg}" >
                                        </a>
                                        <div class="media-body">
                                            <h4 class="break-all" th:text="${bbsThread.subject}">
                                                12223
                                            </h4>
                                            <div class="d-flex justify-content-between small">
                                                <div>
								                    <span class="username">
									                    <a href="#" class="text-muted font-weight-bold" th:text="${username}">admin</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="message break-all" isfirst="1">
                                        <p th:text="${bbsPost.message}">323312212</p>
                                    </div>
                                    <div class="plugin d-flex justify-content-center mt-3">
                                    </div>
                                </div>
                            </div>

                            <!--内容列表-->
                            <div class="card card-postlist">
                                <div class="card-body">
                                    <!--回复总数-->
                                    <div class="card-title">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <b>Total Posts</b> (<span class="posts" th:text="${bbsPostListCount}">9</span>)
                                            </div>
                                            <div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--回复消息，暂时不做分页-->
                                    <ul class="list-unstyled postlist" th:each="post,iterStat : ${bbsPostList}" id="postList">
                                        <li class="media post" th:data-pid="${post.pid}" th:data-uid="${userid}" >
                                            <a href="#" class="mr-3" tabindex="-1">
                                                <img class="avatar-3 mr-3 small" style="width: 30px;height: 30px" th:src="@{/vendor/timg.jpeg}" >
                                            </a>
                                            <div class="media-body">
                                                <div class="d-flex justify-content-between small text-muted">
                                                    <!--回复人-->
                                                    <div>
									                    <span class="username">
										                    <a href="?user-1.htm" class="text-muted font-weight-bold" th:text="${post.uname}">admin</a>
									                    </span>
                                                    </div>
                                                    <!--操作和楼层-->
                                                    <div class="text-right text-grey">
                                                        <a href="javascript:void(0)" th:data-tid="${post.tid}" th:data-pid="${post.pid}" class="text-grey post_reply mr-3">
                                                            <i class="fa fa-mail-reply" title="Reply"></i> <span class="d-none">Reply</span>
                                                        </a>
                                                        <span class="floor-parent">
										                    <span class="floor mr-0" th:text="${iterStat.count}">5</span>Floor
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="message mt-1 break-all" th:utext="${post.messageFmt + post.message}">
                                                    <!--回复引用对象-->
                                                    <blockquote class="blockquote">
                                                        <a href="?user-1.htm" class="text-small text-muted user">
                                                            <img class="avatar-3 mr-3 small" style="width: 30px;height: 30px" th:src="@{/vendor/timg.jpeg}" >
                                                            admin
                                                        </a>
                                                        ccccccc
                                                    </blockquote>
                                                    <!--回复内容-->
                                                    21213221212212
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                    <ul class="list-unstyled postlist" id="postReply">
                                        <li class="post newpost media">
                                            <div class="media-body">
                                                <div class="d-flex justify-content-between small text-muted">
                                                    <div>
                                                        <div th:text="${username}">admin</div>
                                                    </div>
                                                    <div>
                                                        <span class="floor" id="newfloor" th:text="${bbsPostList.size()+1}">11</span>Floor
                                                    </div>
                                                </div>
                                                <div>
                                                    <!--回复内容-->
                                                    <form action="/bbs/doCreatePost" method="post" id="quick_reply_form" class="d-block">
                                                        <input type="hidden" name="quote_id" id="quote_id" value="0">
                                                        <input type="hidden" name="tid" id="tid" th:value="${bbsThread.tid}">
                                                        <div class="message mt-1">
                                                            <textarea class="form-control" placeholder="Content" name="message" id="message"></textarea>
                                                        </div>
                                                        <div class="text-muted mt-2 small">
                                                            <div class="d-flex justify-content-between">
                                                                <div>
                                                                    <button type="submit" class="btn btn-sm btn-secondary" id="submit" data-loading-text="Posting..."> Reply </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 底部-->
            <div th:include="/public/foot :: foot"></div>
        </div>
    </div>
</div>
<!-- JavaScript files-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/vendor/jquery.cookie/jquery.cookie.js}"></script>
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
<script th:src="@{/vendor/jquery-validation/jquery.validate.min.js}"></script>
<script th:src="@{/js/charts-home.js}"></script>
<!-- Main File-->
<script th:src="@{/js/front.js}"></script>
<script>
    var jform = $('#quick_reply_form');
    var jsubmit = $('#submit');
    jform.on('submit', function() {
        jsubmit.button('loading');
        $.ajax({
            'type':'post',
            'dataType':'json',
            'url':jform.attr('action'),
            'data':JSON.stringify({
                subject_id:$("#tid").val(),
                quote_id:$("#quote_id").val(),
                message:$("#message").val(),
                quote_msg:$("#quote_msg").html(),
            }),
            cache: false,
            headers: {
                "Content-Type": "application/json;charset=utf-8"
            },
            contentType:'application/json; charset=utf-8',
            'success':function(res){
                if(res.code <= 0){
                    var s = '<ul> '+res.msg+' </ul>';
                    var jli = $(s).find('li');
                    jli.insertBefore($('.postlist > .post').last());
                    jsubmit.button('reset');

                    // 楼层 +1
                    var jfloor = $('#newfloor');
                    jfloor.html(parseInt(jfloor.html()) + 1);

                    // 回复数 +1
                    var jposts = $('.posts');
                    jposts.html(parseInt(jposts.html()) + 1);

                } else if(res.code < 0) {
                    jsubmit.button('reset');
                }
            }
        });
        return false;
    });

    $('body').on('click', '.post_reply', function() {
        var jthis = $(this);
        var tid = jthis.data('tid');
        var pid = jthis.data('pid');
        var jmessage = $('#message');
        var jli = jthis.closest('.post');
        var jpostlist = jli.closest('.postlist');
        var jadvanced_reply = $('#advanced_reply');
        var jform = $('#quick_reply_form');
        if(jli.hasClass('quote')) {
            jli.removeClass('quote');
            jform.find('input[name="quote_id"]').val(0);
        } else {
            jpostlist.find('.post').removeClass('quote');
            jli.addClass('quote');
            var s = jmessage.val();
            jform.find('input[name="quote_id"]').val(pid);
        }
        jmessage.focus();
        return false;
    });
</script>
</body>
</html>