<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="left">
    <!-- 边栏 -->
    <nav class="side-navbar">
        <!-- 边栏 Header-->
        <div class="sidebar-header d-flex align-items-center">
            <div class="avatar">
                <img th:src="@{/vendor/timg.jpeg}" alt="..." class="img-fluid rounded-circle">
            </div>
            <div class="title">
                <h1 class="h4" th:text="${name}">admin</h1>
                <p th:text="${email}">example@demo.com</p>
            </div>
        </div>
        <span class="heading">Main</span>
        <!-- 边栏 网页列表-->
        <ul class="list-unstyled">
            <li class="active"><a href="/login/main"> <i class="icon-home"></i>My page </a></li>
            <li><a href="/games/list"> <i class="icon-grid"></i>GAMES</a></li>
            <li><a href="/team/list"> <i class="fa fa-rocket"></i>TEAMS</a></li>
            <li><a href="/player/list"> <i class="fa fa-child"></i>PLAYERS</a></li>
            <li><a href="/news/list"> <i class="fa fa-newspaper-o"></i>NEWS</a></li>
            <li><a href="/bbs/main?start=1&limit=200"> <i class="fa fa-bar-chart"></i>BBS</a></li>
        </ul>
    </nav>
</div>
</body>
</html>