<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="left">
    <!-- 边栏 -->
    <nav class="side-navbar">
        <!-- 边栏 Header-->
        <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img th:src="@{/img/avatar-1.jpg}" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
                <h1 class="h4" th:text="${name}">admin</h1>
                <p th:text="${email}">example@demo.com</p>
            </div>
        </div>
        <span class="heading">Main</span>
        <!-- 边栏 网页列表-->
        <ul class="list-unstyled">
            <li class="active"><a href="/login/doLogin"> <i class="icon-home"></i>My page </a></li>
            <li><a href="/game/main"> <i class="icon-grid"></i>GAMES</a></li>
            <li><a href="/bbs/main"> <i class="fa fa-bar-chart"></i>BBS</a></li>
        </ul>
    </nav>
</div>
</body>
</html>