<!DOCTYPE html>
<html lang="zh"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:include="/public/head :: head"></div>
<body>
<div class="page">
    <!-- Main Navbar-->
    <div th:include="/public/body :: body"></div>

    <div class="page-content d-flex align-items-stretch">
        <!-- 边栏 -->
        <div th:include="/public/left :: left"></div>

        <!-- 主要内容-->
        <div class="content-inner">
            <!-- 内容头 -->
            <header class="page-header">
                <div class="container-fluid">
                    <h2 class="no-margin-bottom">GamePage</h2>
                </div>
            </header>


            <!--比赛-->
            <section class="projects no-padding-top">
                <div class="container-fluid">
                    <!-- 一个比赛-->
                    <div class="project">
                        <div class="row bg-white has-shadow">
                            <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                                <div class="project-title d-flex align-items-center">
                                    <div class="image has-shadow">
                                        <img th:src="${game.homeTeamLogo}" alt="..." class="img-fluid">
                                    </div>
                                </div>
                                <div class="text text-center">
                                    <h3 class="h4" th:text="${game.homeTeam + ' VS ' + game.awayTeam + ' (' +game.status + ')'}">
                                        Project Title
                                    </h3>
                                    <small th:text="${game.homeTeamScore + ' : ' + game.awayTeamScore}" class="text-red">Lorem Ipsum Dolor</small>
                                </div>
                                <div class="project-title d-flex align-items-center">
                                    <div class="image has-shadow">
                                        <img th:src="${game.awayTeamLogo}" alt="..." class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="right-col col-lg-6 d-flex align-items-center">
                                <div class="text text-center text-red">
                                    <small th:text="${game.dateTime}">
                                        Project Title
                                    </small>
                                </div>
                            </div>
                            <div class=" col-lg-12 ">
                                <dl class="dl-horizontal">
                                    <dt>Support</dt>
                                    <dd>
                                        <div class="progress progress-striped active m-b-sm">
                                            <div style="width: 60%;" th:style="${'width: ' + calculate + '%'}" class="progress-bar"></div>
                                        </div>
                                        <small th:text="${game.homeTeam + ' : ' + game.awayTeam}">
                                            <strong th:text="${calculate}">60%</strong>
                                        </small>
                                    </dd>
                                </dl>
                            </div>
                            <div class=" col-lg-12 ">
                                <button type="button" class="btn btn-w-m btn-primary" id="betHomeTeam" th:text="${game.homeTeam}"
                                        th:onclick="${'bet(' + game.gameId + ','
                                +game.homeTeamId+')'}">
                                    btn-primary
                                </button>
                                <button type="button" class="btn btn-w-m btn-success" id="betAwayTeam" th:text="${game.awayTeam}"
                                        th:onclick="${'bet(' + game.gameId + ','
                                +game.awayTeamId+')'}">
                                    btn-primary
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--得分详情-->
            <section class="feeds no-padding-top">
                <div class="container-fluid">
                    <div class="row">
                        <!-- Check List -->
                        <div class="col-lg-6">
                            <div class="checklist card">
                                <div class="card-close">
                                    <div class="dropdown">
                                        <button type="button" id="closeCard5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                        <div aria-labelledby="closeCard5" class="dropdown-menu dropdown-menu-right has-shadow">
                                            <a href="#" class="dropdown-item remove">
                                                <i class="fa fa-times"></i>Close</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-header d-flex align-items-center">
                                    <h2 class="h3">Detail List </h2>
                                </div>
                                <div class="card-body no-padding" th:each="gameDeatil : ${gameDetailList}">
                                    <div class="item d-flex">
                                        <div class="left-col col-lg-6 d-flex align-items-center justify-content-between">
                                        <h4>
                                        <label th:text="${'Quarter:' + gameDeatil.quarterName + ' '+ gameDeatil.homeTeamScore + ':'
                                        + gameDeatil.awayTeamScore}">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        </label>
                                        </h4>
                                        </div>
                                        <div class="text text-center text-red">
                                        <small th:text="${'Remain ' + gameDeatil.timeRemainingMinutes + ' minutes ' + gameDeatil.timeRemainingSeconds +' seconds'}">
                                        </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 底部-->
            <div th:include="/public/foot :: foot"></div>
        </div>
    </div>
</div>
</body>
<SCRIPT>
    function bet(game_id,team_id) {
        $.ajax({
            'type':'post',
            'dataType':'json',
            'url':'/competition/bet',
            'data':JSON.stringify({
                team_id:team_id,
                game_id:game_id,
            }),
            cache: false,
            headers: {
                "Content-Type": "application/json;charset=utf-8"
            },
            contentType:'application/json; charset=utf-8',
            'success':function(res){
                if(res.code <= 0){
                    //设置为disabled
                    $("#betHomeTeam").disable();
                    $("#betAwayTeam").disable();
                } else if(res.code > 0) {
                    alert(res.msg);
                }
            }
        });
    }
</SCRIPT>
</html>